@media screen and (max-device-width: 640px) { 
	h1 {
		font-size: 12vw;
	} 

	h2 {
		padding-left: 4vw;
		padding-right: 4vw; 
	}

	#navigation {
		padding-right: 4vh;
			font-size: 4.5vw;

	}
	.container {
  	padding: 0 0 0 0;
  }
  .grid-item {
    height: 69vw;
    width: 100vw;
    margin-left: auto;
    margin-right: auto; 
  }

}
